body {
  margin: 0;
  padding: 0;
  background-color: #252735;
  height: 100vh;
  overflow: hidden;
}

input[type="button"] {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#terminal {
  width: 100%;
  flex: 1 0;
}

#menu {
  background: #3ecf8e;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

#menu input {
  padding: 16px;
}

#snappy-img div {
  position: "absolute";
  left: 20%;
  top: 0;
}

.upload-btn {
  border: 1px dashed #fff;
  color: white;
  padding: 0 20px;
  margin: 0 5px;
  cursor: pointer;
}

.upload-btn p {
  font-family: sans-serif;
}

.container {
  height: calc(100vh - 3rem - 16px - 16px);
}

.xterminal {
  position: relative;
  padding: 16px;
  background: black;
  display: flex;
  height: 100%;
}

.xterminal:before,
.xterminal:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 7px;
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
}

.xterm .xterm-viewport {
  overflow-y: auto;
  scrollbar-color: var(--highlight) var(--dark);
  scrollbar-width: thin;
}

.xterm-viewport::-webkit-scrollbar {
  background-color: var(--dark);
  width: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: var(--highlight);
}
